.jumbotron{
	/*background-image: url(img/pola.jpg);*/
	background-size: cover;
	height: 330px;
	background-position: 0 0;
}

@media (min-width: 576px){
	.jumbotron{
		background-position: 0 -50px;
		height: 350px;
	}
}
@media (min-width: 768px){
	.jumbotron{
		background-position: 0 -100px;
		height: 400px;
	}
}
@media (min-width: 992px){
	.jumbotron{
		background-position: 0 -160px;
		height: 450px;
	}
}
@media (min-width: 1200px){
	.jumbotron{
		background-position: 0 -220px;
		height: 500px;
	}
}